PORT=3000
API_SECRET=troque_essa_chave
CMS_BASE_URL=https://cms.rboys02.click
DEFAULT_PLAN=90
N8N_WEBHOOK_URL=
KEEP_ALIVE_INTERVAL_MINUTES=30
RATE_LIMIT_MAX=60
RATE_LIMIT_WINDOW=1 minute
MAX_CONCURRENT_GENERATIONS=3
